{
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
    "semi": false,
    "arrowParens": "avoid",
    "trailingComma": "all",
    "jsxSingleQuote": false,
    "tabWidth": 4,
    "singleQuote": false
}
