@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
    --font-sans: "DM Sans Variable", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-display: "Poppins", sans-serif;

    --color-charcoal: #121212;

    --breakpoint-xs: 456px;
    --breakpoint-wmax: 1600px;

    --text-shadow-xl: 0 0 50px black;

    --progressive-blur-to-t: to top;
    --progressive-blur-to-b: to bottom;
    --progressive-blur-to-l: to left;
    --progressive-blur-to-r: to right;

    --animate-infinite-scroll: scroll-up 10s infinite;
    @keyframes scroll-up {
        16.5%,
        33% {
            transform: translateY(-25%);
        }
        49.5%,
        66% {
            transform: translateY(-50%);
        }
        82.5%,
        100% {
            transform: translateY(-75%);
        }
    }

    --animate-quick-spin: quick-spin 0.35s linear;
    @keyframes quick-spin {
        0% {
            transform: scale(1) rotate(0deg);
        }
        50% {
            transform: scale(1.25) rotate(180deg);
        }
        100% {
            transform: scale(1) rotate(360deg);
        }
    }
}

@utility bg-progressive-blur-to-* {
    mask: linear-gradient(
        --value(--progressive-blur-to- *),
        oklch(0% 0 0),
        oklch(0% 0 0 / 80%) 50%,
        transparent
    );
    backdrop-filter: blur(var(--blur-md)) brightness(0.5);
}

@utility grid-overlap {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	> * {
		grid-area: 1 / 1 / 2 / 2;
	}
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--color-charcoal);
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
    font-weight: bold;
}

p {
    font-weight: var(--font-weight-light);
}

details::details-content {
    block-size: 0;
    overflow: hidden;
    transition:
        block-size 0.35s ease,
        content-visibility 0.35s ease;
    transition-behavior: allow-discrete;
}

details[open]::details-content {
    block-size: auto;
    block-size: calc-size(auto, size);
}

details summary::-webkit-details-marker {
    display: none;
}
