---
type Props = {
    title: string
}

const { title } = Astro.props
---

<div
    class="to-charcoal xs:h-36 flex h-32 w-full flex-col justify-center bg-linear-to-t from-transparent to-20% backdrop-blur-md backdrop-brightness-95 md:h-48 lg:backdrop-brightness-100"
>
    <div
        class="dot-matrix absolute inset-x-0 h-full bg-[url('/dot-matrix.svg')] bg-repeat opacity-30"
        style="mask-image: linear-gradient(to bottom,transparent,15%,white,80%,transparent)"
    >
    </div>
    <div class="m-auto max-w-[1600px]">
        <h1
            class="motion-preset-blur-right-md motion-duration-1000 xs:px-6 xs:text-6xl w-screen px-4 text-5xl md:px-8 lg:px-12 lg:text-7xl xl:px-16"
        >
            {title}
        </h1>
    </div>
</div>
