---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Nitish">
    <div
        class="flex h-full flex-col items-center justify-center gap-4 text-white"
    >
        <h1 class="text-4xl text-white">Hello?</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
            voluptate. Dolor eaque nemo reprehenderit voluptatibus expedita
            quasi. Vero, accusantium ullam.
        </p>
    </div>
</Layout>
