---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Nitish">
    <div class="flex h-full flex-col">
        <div
            class="h-2/3 w-full bg-[url('/dot-matrix.svg')] bg-repeat opacity-30"
            style="mask-image: linear-gradient(to bottom,transparent,15%,white,80%,transparent)"
        >
        </div>
    </div>
</Layout>
