---
import githubIcon from "../assets/github.svg"
import linkedInIcon from "../assets/linkedIn.svg"
import IconButton from "../components/IconButton.astro"
import ProfileCard from "../components/ProfileCard"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Nitish" disableScroll>
    <div
        class="dot-matrix absolute inset-x-0 h-[45%] max-h-[1024px] bg-[url('/dot-matrix.svg')] bg-repeat opacity-30 xs:h-1/2 lg:h-4/6"
        style="mask-image: linear-gradient(to bottom,transparent,15%,white,80%,transparent)"
    >
    </div>
    <div
        class="pointer-glow fixed top-1/4 size-96 -translate-x-1/2 -translate-y-1/2 rounded-full bg-blue-300 opacity-0 mix-blend-overlay blur-3xl transition-opacity duration-500"
    >
    </div>
    <div class="relative h-dvh w-full">
        <div class="h-[40%] xs:h-[45%] lg:h-[60%]">
            <div class="z-10 flex h-full items-center">
                <div
                    class="flex w-full flex-col gap-1 px-4 xs:px-6 sm:gap-2 md:px-8 lg:px-12 xl:px-16"
                >
                    <p
                        class="text-md motion-preset-blur-right-md motion-duration-1000 xs:text-lg sm:text-xl lg:text-2xl 2xl:text-3xl"
                    >
                        Hello my name is
                    </p>
                    <h1
                        id="name"
                        class="motion-preset-blur-right-md mb-0.5 text-5xl motion-duration-1000 motion-delay-75 xs:text-6xl sm:text-7xl lg:text-[5rem] 2xl:text-8xl"
                    >
                        Nitish
                    </h1>
                    <div
                        class="motion-preset-blur-right-md flex flex-col flex-wrap items-baseline gap-2 text-5xl motion-duration-1000 motion-delay-100 xs:text-6xl sm:text-7xl lg:flex-row xl:text-[5rem] 2xl:text-8xl"
                    >
                        <h1>I am a&nbsp;</h1>
                        <div
                            class="h-[1.55ch] overflow-hidden font-display font-bold"
                        >
                            <ul
                                id="scroll-list"
                                class="animate-infinite-scroll text-nowrap"
                                style="animation-delay: 1200ms;"
                            >
                                <li
                                    class="hidden bg-gradient-to-tr from-sky-100 to-blue-500 bg-clip-text text-transparent lg:block"
                                >
                                    Software Developer
                                </li>
                                <li
                                    class="bg-gradient-to-tr from-sky-100 to-blue-500 bg-clip-text text-transparent lg:hidden"
                                >
                                    Software Dev
                                </li>
                                <li
                                    class="bg-gradient-to-tr from-sky-100 to-blue-500 bg-clip-text text-transparent"
                                >
                                    Tech Fanatic
                                </li>
                                <li
                                    class="bg-gradient-to-tr from-sky-100 to-blue-500 bg-clip-text text-transparent"
                                >
                                    Student
                                </li>
                                <li
                                    class="hidden bg-gradient-to-tr from-sky-100 to-blue-500 bg-clip-text text-transparent lg:block"
                                >
                                    Software Developer
                                </li>
                                <li
                                    class="bg-gradient-to-tr from-sky-100 to-blue-500 bg-clip-text text-transparent lg:hidden"
                                >
                                    Software Dev
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="relative mt-2 lg:static lg:-mx-16">
                        <div
                            class="motion-preset-blur-right-md motion-delay-150 motion-duration-1000 flex gap-4 lg:mx-16 2xl:gap-6"
                        >
                            <IconButton
                                href="https://github.tnitish.com/"
                                openInNewTab
                            >
                                <img
                                    src={githubIcon.src}
                                    alt="GitHub Icon"
                                    loading={"eager"}
                                    width={64}
                                    height={64}
                                />
                            </IconButton>
                            <IconButton
                                href="https://linkedin.tnitish.com/"
                                openInNewTab
                            >
                                <img
                                    src={linkedInIcon.src}
                                    alt="LinkedIn Icon"
                                    loading={"eager"}
                                    width={64}
                                    height={64}
                                />
                            </IconButton>
                        </div>
                        <div
                            class="absolute inset-x-0 m-auto mt-6 w-full pb-8 sm:w-10/12 md:mt-10 md:w-4/5 lg:mt-12 lg:min-h-72 lg:w-full lg:px-8 2xl:mt-16"
                        >
                            <div
                                class="flex w-full flex-col gap-[3vh] lg:h-screen lg:max-h-72 lg:flex-row lg:justify-center lg:gap-6 xl:gap-8"
                            >
                                <ProfileCard
                                    client:load
                                    title="Software Developer"
                                    body="Full stack web & mobile developer who likes to solve problems & always open to learning & trying out new technologies"
                                    initialActive
                                />
                                <ProfileCard
                                    client:load
                                    title="Tech Fanatic"
                                    body="Always curious about the cutting edge in everything tech from phones to laptops & electric cars"
                                    offset
                                />
                                <ProfileCard
                                    client:load
                                    title="Student"
                                    body="Alumni of Temasek Polytchnic & will be pursuing a degree in Computer Science at NUS in 2026"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>

<script>
    import { scrollListItemVisibility } from "../store/uiStore"
    import type { TScrollListItemVisibility } from "../types/ScrollListType"

    const scrollList = document.getElementById("scroll-list")

    const dotMatrix = document.querySelector<HTMLElement>(".dot-matrix")
    const pointerGlow = document.querySelector<HTMLElement>(".pointer-glow")
    const name = document.getElementById("name")

    if (scrollList) {
        setInterval(() => {
            const style = window.getComputedStyle(scrollList)
            const matrix = new DOMMatrixReadOnly(style.transform)
            const translateY = (matrix.m42 / scrollList.clientHeight) * 100

            let $scrollListItemVisibility: TScrollListItemVisibility = {
                softwareDeveloper: false,
                techFanatic: false,
                student: false,
            }

            if (translateY < 0 && translateY >= -25) {
                // "Tech Fanatic" is visible
                $scrollListItemVisibility = {
                    softwareDeveloper: false,
                    techFanatic: true,
                    student: false,
                }
            } else if (translateY <= -25 && translateY >= -50) {
                // "Student" is visible
                $scrollListItemVisibility = {
                    softwareDeveloper: false,
                    techFanatic: false,
                    student: true,
                }
            } else if (translateY < -55 || translateY >= 0) {
                // "Software Developer" is visible
                $scrollListItemVisibility = {
                    softwareDeveloper: true,
                    techFanatic: false,
                    student: false,
                }
            }

            // Use lodash isEqual or smt similar
            if ($scrollListItemVisibility !== scrollListItemVisibility.value) {
                scrollListItemVisibility.set($scrollListItemVisibility)
            }
        }, 150)
    }

    if (dotMatrix && pointerGlow && name) {
        document.body.onpointermove = e => {
            if (
                e.clientY < dotMatrix.clientHeight - 64 &&
                e.clientY > 80 &&
                e.clientX > 10 &&
                e.clientX < window.innerWidth - 10
            ) {
                pointerGlow.animate(
                    {
                        top: `${e.clientY}px`,
                        left: `${e.clientX}px`,
                    },
                    {
                        duration: 500,
                        easing: "ease-out",
                        fill: "forwards",
                    },
                )
                pointerGlow.style.opacity = "1"
            } else {
                pointerGlow.style.opacity = "0"
            }
        }
    }
</script>
