---
import { Image } from "astro:assets"
import inProgressImage from "@assets/in-progress.svg"
---

<div
    class="flex flex-col items-center justify-center gap-6 px-4 text-center lg:gap-8"
>
    <h1 class="xs:text-lg text-balance sm:text-xl md:text-2xl lg:text-3xl">
        Oops looks like this page isnt done yet
    </h1>
    <Image
        src={inProgressImage}
        alt="In Progress"
        class="xs:w-[24rem] w-[20rem] sm:w-md md:w-lg lg:w-xl xl:w-160"
    />
    <h1
        class="xs:text-sm text-xs font-medium text-pretty sm:text-base md:text-lg lg:text-xl"
    >
        Coming soon... or maybe not. Who knows?
    </h1>
</div>
