---
import { Image } from "astro:assets"
---

<nav
    class="sticky top-0 z-50 flex items-center justify-between bg-[#121212] px-8 pb-2 pt-4 shadow-2xl shadow-[#121212]"
>
    <Image src="/logo.svg" alt="logo" loading="eager" height={56} width={56} />
    <div class="flex flex-row items-center gap-6 text-xl text-white">
        <a href="/about" class="group transition duration-300">
            about
            <span
                class="block h-[3px] max-w-0 rounded-sm bg-white transition-all duration-300 group-hover:max-w-full"
            ></span>
        </a>
        <a href="/projects" class="group transition duration-300">
            projects
            <span
                class="block h-[3px] max-w-0 rounded-sm bg-white transition-all duration-300 group-hover:max-w-full"
            ></span>
        </a>
        <a href="/contact" class="group transition duration-300">
            contact
            <span
                class="block h-[3px] max-w-0 rounded-sm bg-white transition-all duration-300 group-hover:max-w-full"
            ></span>
        </a>
    </div>
</nav>
