---
import { Image } from "astro:assets"
import { Menu } from "lucide-astro"
---

<style>
    .showNav {
        @apply translate-y-0 opacity-100;
    }
</style>
<nav
    class="navbar showNav fixed top-0 z-20 w-full -translate-y-[72px] bg-charcoal font-display shadow-charcoal transition-transform duration-300 md:-translate-y-[80px]"
>
    <div
        class="m-auto flex h-full max-w-[1900px] items-center justify-between px-4 py-3 shadow-2xl md:px-8"
    >
        <a href="/" class="logo size-12 md:size-14">
            <Image
                src="/logo.svg"
                alt="logo"
                loading="eager"
                height={56}
                width={56}
            />
        </a>
        <div
            id="menu-button"
            class="block cursor-pointer text-zinc-200 lg:hidden"
        >
            <Menu size="1.75rem" />
        </div>
        <div
            class="hidden flex-row items-center gap-6 text-xl text-white lg:flex"
        >
            <a href="/about" class="group transition duration-300">
                about
                <span
                    class="-mt-0.5 block h-[2px] max-w-0 rounded-sm bg-white transition-all duration-300 group-hover:max-w-full"
                ></span>
            </a>
            <a href="/projects" class="group transition duration-300">
                projects
                <span
                    class="-mt-0.5 block h-[2px] max-w-0 rounded-sm bg-white transition-all duration-300 group-hover:max-w-full"
                ></span>
            </a>
            <a href="/contact" class="group transition duration-300">
                contact
                <span
                    class="-mt-0.5 block h-[2px] max-w-0 rounded-sm bg-white transition-all duration-300 group-hover:max-w-full"
                ></span>
            </a>
        </div>
    </div>
</nav>
<script>
    import { isDrawerOpen } from "../store/uiStore"

    document.getElementById("menu-button")!.addEventListener("click", () => {
        isDrawerOpen.set(true)
    })

    const navbar = document.querySelector(".navbar")
    const logo = document.querySelector(".logo")

    let lastScrollTop = 0

    window.addEventListener("scroll", () => {
        const scrollTop = window.scrollY

        if (scrollTop > lastScrollTop) {
            navbar?.classList.remove("showNav")
        } else {
            navbar?.classList.add("showNav")
        }

        lastScrollTop = scrollTop
    })

    window.addEventListener("load", () => {
        logo?.classList.add("animate-quick-spin")
    })

    logo?.addEventListener("mouseenter", () => {
        logo?.classList.add("animate-quick-spin")
    })

    logo?.addEventListener("animationend", () => {
        logo?.classList.remove("animate-quick-spin")
    })
</script>
