---
import { Image } from "astro:assets"
import type { ProjectIconType } from "../utils/projectIcons"
import ProjectIcon from "./ProjectIcon.astro"

type Props = {
    title: string
    description: string
    imageUrl: string
    icons: ProjectIconType[]
}

const { title, description, imageUrl, icons } = Astro.props
---

<div class="relative mx-6 mb-5">
    <Image
        class="h-auto max-w-[300px] rounded-md object-cover"
        src={imageUrl}
        alt="Project Image"
        width={300}
        height={200}
    />
    <div
        class="absolute -bottom-5 -left-6 h-min w-fit rounded-md border-2 border-solid border-white/10 bg-gradient-to-br from-[#202020] to-charcoal to-35% p-2 shadow-md shadow-white/5"
    >
        <div class="flex items-center gap-2">
            {icons.map(icon => <ProjectIcon type={icon} size={16} />)}
        </div>
    </div>
    <div
        class="absolute -bottom-5 -right-6 max-w-[19ch] rounded-md border-2 border-solid border-white/10 bg-gradient-to-br from-[#202020] to-charcoal to-35% p-2 shadow-md shadow-white/5"
    >
        <h1 class="mb-1 text-nowrap text-sm">{title}</h1>
        <p class="text-pretty text-xs">
            {description}
        </p>
    </div>
</div>
