---
import "@fontsource-variable/dm-sans"
import dmSans from "@fontsource-variable/dm-sans/files/dm-sans-latin-standard-normal.woff2"
import "@fontsource/poppins/100.css"
import "@fontsource/poppins/200.css"
import "@fontsource/poppins/300.css"
import "@fontsource/poppins/400.css"
import "@fontsource/poppins/500.css"
import "@fontsource/poppins/600.css"
import "@fontsource/poppins/700.css"
import "@fontsource/poppins/800.css"
import "@fontsource/poppins/900.css"
import poppinsBold from "@fontsource/poppins/files/poppins-latin-700-normal.woff2"
import Navbar from "../components/Navbar.astro"
import Drawer from "../components/Drawer"
import { cn } from "../utils/cn"

type Props = {
    title: string
    center?: boolean
}

const { title, center } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            href={poppinsBold}
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            href={dmSans}
            crossorigin="anonymous"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Drawer client:load />
        <Navbar />
        <div
            class={cn("m-auto  h-full max-w-screen-2xl", {
                "mt-[72px] md:mt-[80px]": !center,
                "flex justify-center items-center flex-col": center,
            })}
        >
            <slot />
        </div>
    </body>
</html>

<style is:global>
    html,
    body {
        height: 100%;
        width: 100%;
        @apply bg-charcoal text-white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-display font-bold;
    }

    p {
        @apply font-light;
    }
</style>
